[run]
source = 
    project

omit =
    */migrations/*
    */tests/*
    */admin.py
    */apps.py
    */urls.py
    manage.py

[report]
exclude_lines =
    pragma: no cover
    def __str__
    def __repr__
    pass
    raise NotImplementedError

[html]
directory = htmlcov
